.main-container {
  align-items: center;
  background-color: #5f5f5f;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btns-transactions-container {
  background-color: #5f5f5f;
  align-items: center;
  height: 50px;
  padding: 50px;
  text-align: center;
}

.transactions-btn {
  border: 1px solid rgb(13, 95, 44);
  background-color: rgb(13, 95, 44);
  color: rgb(243, 243, 243);
  width: 110px;
}

.transactions-table {
  align-items: center;
  padding: 20px;
  text-align: center;
  background-color:  rgb(214, 211, 211);
  border-radius: 25px;
  height: 400px;
  width: 80%;
  margin-bottom: 50px;
}
